{% extends 'base.html.twig' %}

{% block title %}Tout mes films!{% endblock %}

{% block body %}
    <a href="{{ path("indexFilm") }}" class="btn btn-primary">Retour</a>

            <div class="card" style="width: 18rem;">
                {#            <img src="..." class="card-img-top" alt="...">#}
                <div class="card-body">
                    <h5 class="card-title">{{ showFilm.name }}</h5>
                    <p class="card-text">{{ showFilm.resume }}</p>
                </div>
            </div>
{% endblock %}
